.background {
    -fx-background-color: #fff;
}

.fields {
    -fx-border-color: #ccc;
    -fx-background-color: #fff;
    -fx-border-radius: 25px;
}

.button {
    -fx-min-width: 80px;
    -fx-background-color: #fff;

    -fx-border-radius: 25px;
    -fx-border-color: #244065;
    -fx-text-fill: #244065;

    -fx-transition: all 0.3s ease-in-out;
}

.button:hover {
    -fx-border-radius: 15px;

    -fx-border-color: #ffcc00;
    -fx-text-fill: #ffcc00;
}

.main-label {
    -fx-font-size: 18px;
}

.header-label {
    -fx-font-size: 30px;
}